.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex-image-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.image-preview {
    object-fit: cover;
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    border-radius: 8px;
}