.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex-image-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.image-preview {
    object-fit: cover;
    vertical-align: middle;
    height: auto;
    margin: 1%;
    border-radius: 8px;
}

.ip-50 {
    max-width: 48%;
}

.ip-100 {
    max-width: 96%;
    margin: 2%;
}
