.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex-container-row-scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    height: min-content;
    justify-content: left;
    gap: 10px 30px;
    padding: 0 30px;
}

.flex-container-row-scroll::-webkit-scrollbar {
    display: none;
}

.flex-image-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.image-preview {
    object-fit: cover;
    vertical-align: middle;
    height: auto;
    flex: 1 1 50%;
    margin: 1%;
    border-radius: 8px;
}

.flex-paragraph {
    flex: 1 0 50%;
}

.ip-50 {
    max-width: 48%;
}

.ip-100 {
    max-width: 96%;
    margin: 2%;
}
