body {
    margin: 0;
    background-color: var(--primary-color);
}

.title {
    font-size: 40px;
    color: var(--text-color);
}

.subtitle {
    font-size: 32px;
    color: var(--accent-color);
}

.bold-text {
    font-weight: bold;
}

#main-content {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.phone-number {
    color: var(--accent-color);
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .main-content-paragraph {
        font-size: 24px;
    }
}