body {
    margin: 0;
    background-color: var(--primary-color);
}

.bold-text {
    font-weight: bold;
}

#main-content {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.phone-number {
    color: var(--accent-color);
    text-decoration: none;
}
