#image-full-screen-component {
    text-align: center;
    vertical-align: middle;
    width: 90%;
    height: 90%;
    padding: 2%;
    background-color: var(--primary-color);
}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#image-full-screen {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    object-fit: contain;
}

#full-screen-image-holder {
    width: 100%;
}
