#image-full-screen-component {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 94%;
    margin: 3%;
}

#image-full-screen {
    object-fit: contain;
    width: 94%;
}

#full-screen-image-holder {
    width: 100%;
}
