@import url(./fonts.css);

.navbar {
    margin: 0;
    padding: 10px;
}

#mobile-hamburger {
    padding: 8px;
}

.navbar-item {
    font-family: boldSansSerif;
    text-decoration: none;
    text-align: center;
}