@import url(./fonts.css);

.navbar {
    margin: 0;
    padding: 2%;
    width: 96%;
    background-color: var(--primary-color);
    top: 36px;
}

#mobile-hamburger {
    background-color: var(--primary-color);
    width: 100%;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    height: 32px;
    top: 0;
    left: 0;
}

.navbar-item {
    font-family: boldSansSerif;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
}

.navbar-item:hover {
    color: var(--accent-color);
}

#current-navbar-page {
    color: var(--accent-color);
}