@import url(./fonts.css);

.navbar {
    margin: 0;
    padding: 2%;
    width: 96%;
    background-color: var(--primary-color);
    top: 0;
}

#mobile-hamburger {
    background-color: var(--primary-color);
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#mobile-hamburger line {
    stroke-width: 8;
    stroke: black;
}

.navbar-item {
    font-family: boldSansSerif, serif;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
}

.navbar-item:hover {
    color: var(--accent-color);
}

#current-navbar-page {
    color: var(--accent-color);
}
